---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
        >Davide Piu</span
      >
    </h1>
    <div>
      <p class="mb-19 text-1.3xl pb-4">
        Software Engineer, now <a href="https://www.banksealer.com"
          >Banksealer</a
        >.
      </p>
    </div>
  </div>
  <div>
    <p class="mb-5">Hi there! I'm Davide Piu, nice to meet you 👋</p>
    <p class="text-center whitespace-nowrap overflow-auto">
      My primary interest lies in software engineering, while I'm on the brink
      of completing a Master's degree in Data Science and Business Analytics.
      Currently, I work as a Software Engineer at <a
        href="https://www.banksealer.com">Banksealer</a
      >. In my current role, my focus is primarily on enhancing our backend and
      I'm deeply involved in elevating our Development Experience (DevEx),
      improving our CI/CD, and refining the monitoring of our infrastructure.
      Our current tech stack is: Scala (backend), TS w React (Frontend),
      Kubernetes, Tekton, Kafka, MySQL, Grafana, Prometheus, Groundcover. Feel
      free to connect with me on Twitter <a href="https://twitter.com/94Piu"
        >@94Piu</a
      >, or explore my GitHub profile <a href="https://github.com/davidepiu14"
        >@davidepiu14</a
      >. For more details about my studies and working experiences, <a
        href="https://www.linkedin.com/in/davide-piu-0ab5a1109/">here</a
      >.
    </p>
  </div>
</section>
